xml_list_file= vaspruns_list.txt
vaspruns_dir= ./vaspruns
xyz_file= NaCl_snaps300K.xyz
config_type= NaCl_snaps300K
config_name_prefix= NaCl_snaps300K_
dump_intv= 1
if_stress= 1
if_DFSET= 1
SPOSCAR= ./SPOSCAR
